
// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*------------------------------------------|
|       CONTENU CUSTOM NODE.TPL    |
|     FRONTPAGE  VERTICAL DROITE   |
|-----------------------------------------*/

  //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}

//Code imbriqué à 100%
body .conteneur
{
    //Pas de @include container($total-columns); car deja mis dans layout !!!
    background:transparent image-url("bg_content_etoile.gif") no-repeat left bottom;
    .conteneur-flex{
        
        //Flexbox initialisation du conteneur
        @include flexbox;
       @include flex-flow(column wrap);//besoin d'envelopper le contenu
        //Values: none | <flex-grow> <flex-shrink> || <flex-basis>
        // Default: See individual properties (1 1 0).
             @include flex(1 0 span($mobilecol));
             margin-top: 1em 0 0 0;
    .HPDiapoVerticalDroite{
      padding: 0.3em;
    //Flexbox ordre des blocs
          
             @include order(2);    
             
        img{@include adaptable-img;}
     aside.ImgFixeHPG{
            img{border: 0.1em solid $violet;padding: 0.1em;}     
                }
    }
   
                
    .HPGauche{
        //Flexbox ordre des blocs 
             @include order(1);
             padding:0 0 4em 0;
        img{@include adaptable-img;}
        
    }
    .HPGauche1{}
    .HPGauche2{}
    .HPGauche3{}
    }
    @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        //Taille du conteneur du groupe
        @include container($tabletcol);
        .HPDiapoVerticalDroite{@include span(4);}
        .HPGauche{@include span(last 4);}
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}

    }
    @include breakpoint($desktop) {/*    //Dimensions pour les pc*/
        //Taille du conteneur du groupe    
      @include container($desktopcol);
.conteneur-flex{
       //Affichage des blocs en ligne
        @include flex-flow(row nowrap);
           
        .HPDiapoVerticalDroite{
             //@include span(6 of $desktopcol first);
              @include flex(1 0 span(6 of $desktopcol last));
            @include order(2);
            padding: 0;
            
        }
        .HPGauche{
            //@include span(6 of $desktopcol);
        
               @include flex(1 0 span(6 of $desktopcol first));
             @include order(1);
            
        }
        .HPGauche1{
            
        }
        .HPGauche2{
            

        }
        .HPGauche3{

        }
    }
     }

}