// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       FRONTPAGE INSTITUTIONNEL       |
|--------------------------------------*/

  //@include susy-breakpoint ($mobile){}
  //@include susy-breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}

//Code imbriqué à 100%
body .conteneur {
    background:transparent image-url ("bg_content_etoile.gif") no-repeat left bottom;
    .HPGauche{
         @include clearfix;
        .annonceImg{}
        .blocLycee{}
    }
    .HPDroite{
        .contentAnim{}
        .textAnim{}
    }       
}
    @include breakpoint($desktop) {/*    //Dimensions pour les pc*/
    //Taille du conteneur du groupe    

    .HPGauche{@include span(first $desktopcol/2 of $desktopcol);
              .annonceImg{}
              .blocLycee{}
    }
    .HPDroite{@include span(last $desktopcol/2 of $desktopcol);
              .contentAnim{}
              .textAnim{}
    }

    }
  
    @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        .HPGauche{@include span(first $tabletcol/2 of $tabletcol);
                  .annonceImg{}
                  .blocLycee{}
        }
        .HPDroite{@include span(last $tabletcol/2 of $tabletcol);
                  .contentAnim{}
                  .textAnim{}
        }

}

/********************/
/*ZONES PAGE ACCUEIL*/

.content-bottom-home {
    table{width: auto;}
    a {
        //@include zocial;
    }
    ul{
         @include horizontal-list;
        li{}
    }
}

/****************/
.textAnim {
img{@include adaptable-img;
    @include breakpoint($desktop){
        @include squish(0.1,0); 
    }}
    ul li {
        list-style: square;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

}

.savoir-plus a{
    color: #E2007A;
    text-decoration: none;
    padding: 2px;
    float: right;
}
.savoir-plus a:hover{
    background: #E2007A;
    color: #606171;
    text-decoration: none;
}
/* Défilant Actus brulante - Breaking news*/
#block-views-annonce_accueil-block_2
{margin: em(5px) auto;text-align: center;
 @include breakpoint($desktop){
     width: em(375px);}}

#block-views-annonce_accueil-block_2 h3{
    font-family: Arista,Trebuchet MS,sans serif;
    font-size: em(18px);
    font-weight: bold;
    margin: em(10px) 0;
    text-align:center;
    color: #E3001B;
    text-decoration: blink;
}
.breaking-news{
    background: #E2007A;
    @include arrondis (em(5px));
    margin: em(5px) 0;
}
.breaking-news a{
    text-align: center;
    color: white;
}
.breaking-news a:hover{
    text-decoration: none;
}
.breaking-news{}



/*-------- ANNONCE DEFILANTE ------*/
.annonce {
  color: $color-defilant;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 11px 0 0;
  text-align: center;
  @include adjust-font-size-to(16px);
  a {
    color: $color-defilant-a;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
/*DEFILANT CLASSIQUE*/
#block-views-liste_annonce_accueil-block_1{display: block;margin: 5px 0;height: 50px;}
/*DEFILANT CONTENU PONCTUEL*/
#block-views-liste_annonce_accueil-block_2{font-size: 16px;color: #E2017B;width: auto;display: block;text-align: center;font-weight: bold;margin: 10px 0;background: #CFD0D2;padding: 5px;height: 40px;}
#block-views-liste_annonce_accueil-block_2 #ponctuel{display: block;width: auto;}

/*TABLE ACCES LYCEE*/
.blocLycee {
    table, tbody{
        width:95%;
        margin: 0 auto;
        padding:0;
        border: 0;

    }
    img{
        max-width: 65%;
         @include breakpoint($desktop){
        @include adaptable-img;}    
    }
}
ul.galerie-lycees{
    @include clearfix; 
}
li.item-galerie-lycees{
    list-style: none;
     @include squish(0.25,0); 
      img{@include adaptable-img;}
      @include breakpoint($desktop){
         @include gallery(3 of 6);
    
    
      }
}

